
<!--
<div class="row" style="height:100%">
    <div class="col-lg-6 col-md-6" style="background-color: blueviolet; padding:100px 200px 200px 250px ;">
        <div id="logo" style="display:flex;align-items:center">
            <div><img src="/assets/logo_white.png" style="width:80%"></div>            
            <div><h1>Revenued</h1></div>
        </div>
        <div id="slogan">
            <h1>Business Card for</h1>
            <h1>this Generation</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make </p>
        </div>
        <footer>
            <span>ABOUT REVENUED</span>
            <SPAN>CONTACT US</SPAN>
        </footer>
    </div>
    <div class="col-lg-6 col-md-6">
        <div id="logindiv">
            <div>
                <h1>Welcome to Revenued</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make </p>
            </div>
            <div>
                    <DIV>
                        <div class="form-group">
                          <label for="email">Email address:</label>
                          <input type="email" class="form-control" placeholder="Enter email" id="email">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                        </div>
                        <div class="form-group form-check">
                          <label class="form-check-label">
                            Forgot password
                          </label>
                        </div>
                        <a routerLink="/dashboard" type="submit" class="btn btn-primary">Submit</a>
                        <span>Not a member? Sign Up</span>
                    </DIV>
            </div>
        </div>
    </div>
</div>
-->
<section id="login_page" style="height:100%">
    <div class="row no-gutters" >
        <div class="col-md-6 left_maincol  text-white " style="background-color: #3075bf;">
            <div class="left_col mt-5 " >
               
                <a class="navbar-brand logohead mb-5" href="#" >
                    <img src="/assets/logo_white.png" width="35.3" height="40" class="d-inline-block align-top" alt="">
                    <span class="ml-3 " style="font-family:Montserrat">Revenued</span>
                </a>
               
                <h1>Business Card for this Generation.</h1>
                <p class="data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, cupiditate?</p>
                
               
           
            </div>
            <footer class=" align-self-end mr-auto" >
               
                <nav class="navbar navbar-expand-lg px-0 ">
                    
                    
                  
                      <ul class="navbar-nav text-uppercase">
                       
                        <li class="nav-item">
                          <a class="nav-link" href="#">About Revenued</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Contact us</a>
                        </li>
                        
                      </ul>
                   
                  </nav>
           
                </footer>
          
           
        </div>
        
        <div class="col-md-6 d-flex justify-content-center right_maincol">
            
            <div class="right_col">
                <!--<div class="back_arrow d-xl-none d-sm mt-3">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>-->
                <div class="right_col_head">
                    <h3>Welcome to <span>Revenued</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quae quod facilis pariatur dolorem vero?</p>
                </div>
                <form action="" >
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control p-0 mb-3" placeholder="Enter Email ID">
                    <label for="password">Password</label>
                    <input type="password" class="form-control p-0" placeholder="************">
                    
                </form> 
                 <p class="text-right"><small><a href="#">Forgot Password?</a></small></p>
                 <div class="text-center ">
                     <button type="button" class="btn btn-xl w-50 btn-center font-weight-bold" (click)="authService.login()" style="background-color: #ce6b20;">Login</button>
                </div>
            </div>
        </div>
    </div>
</section>