<div id="pl-11" class="panel-layout" style="padding-top:120px;">
    <div class="login">
        <span style="text-align: center;">
            <h5 style='padding-top: 10px;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'>
                LOGIN</h5>
        </span>
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password">
        <a href="#" class="forgot">Forgot Password?</a>
        <input type="submit" id="btnSubmit" value="Sign In" (click)="gotoDashboard()">
    </div>
    <!--<div class="shadow">
</div>-->
    <div id="footerfix" class="panel-grid panel-has-style">
        <div class="hexagonbg top panel-row-style panel-row-style-for-11-2">
            <div id="pgc-11-2-0" class="panel-grid-cell panel-grid-cell-empty">
            </div>
        </div>
    </div>
</div>