@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat&display=swap');
#logo h1{
  display:inline-block;
  font-family: Montserrat;
  font-size:30px;
  font-weight:bold;
  color:white;
  padding:10px 40px 0px 10px;
}
#slogan h1{
  font-family:Lato;
  font-size:40px;
}