<header id="site-header">
    <div class="hamburguernew" style="display: none; width: 30px; height: 30px; background-position: center center; background-repeat: no-repeat;background-size: contain; position: absolute; left: 20px; top: 18px; z-index: 999;">
        <a href="index.html" style="padding:5px;">
            <span class="fa fa-sign-in" style="font-size:20px;"></span>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 logo-col">
                <a href="https://www.revenued.com" id="logo">
                    <span class="screen-reader-text">Revenued</span>
                </a>
            </div>
            <div class="col-md-10 menu-1-col">
                <div class="menu-main-mega-menu-container" style="float:right;">
                    <ul id="menu-top-menu-right" class="menu">
                        <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51">
                            <a href="index.html" style="padding:5px;">Sign In</a>
                        </li>
                        <li id="Li1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51">
                            <a href="https://www.revenued.com/about/" style="padding:5px;">About Revenued</a>
                        </li>
                        <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                            <a href="https://www.revenued.com/contact/" style="padding:5px;">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>