<!--<div style="display: flex" class="container">
    <div>Account Overview</div>
    <div>Request limit Increase</div>
    <div>Request Cash Draw</div>
    <div>Payment Calendar</div>
    <div>Transaction History</div>
    <div>Rewards</div>
</div>-->
<section id="short_cut" class="py-4">
    <div class="container">
        <nav class="nav flex-column">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Account Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Request limit Increase</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Request Cash Draw</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" >Payment Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="transactionhistory" >Transaction History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" >Rewards</a>
                </li>
              </ul>
          </nav>
    </div>
</section>
