#short_cut{
    background-color: #0074b6ff;
    
}
/*#short_cut:after{
    background: 
                linear-gradient(-45deg, transparent 20px, #0074b6ff 0), 
                linear-gradient(45deg, transparent 20px, #0074b6ff  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 30px 20px;
    content: "";
    display: block;

    width: 100%;
    height: 32px;

     position: relative;
    top:47%;
    left:0px;
    border:none;
  
}
*/
#short_cut nav{
    flex-wrap:nowrap;
}
#short_cut .navbar .nav-link{
    color:white;
    font-size:1rem;
    font-weight: 400;
    padding-left:24px;
    padding-right:24px;
    
}
#short_cut .navbar .nav-link.active{
    color:white;
    font-weight:700;
    background-color: rgb(255, 255, 255, 0.15);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}
#short_cut .navbar .nav-link:hover{
    color:white;
    background-color: rgb(255, 255, 255, 0.15);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}
#short_cut .navbar ul{
    display:d-flex;
    align-items:stretch;
    justify-content:space-around;
    width:100%;
    margin:0;
    padding:0;
}
#short_cut .nav-link{
    padding:0.5rem 0.5rem;
}
*{
    font-family: Lato;
}
.fa-bell-o{
    position: relative;
    font-size:1.6rem;
  }
  .fa-circle{
    position: absolute;
    margin-left:-12px;
    color:red;
    font-size:0.8rem;
  }
  .short_mobile{
    display:d-flex;
    align-items:stretch;
    justify-content:space-between;
    width:100%;
    margin:0;
    padding:0;
  }