body {
  padding-top: 66px;
}

@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.zero > :first-child {
  margin-top: 0;
}

.zero > :last-child {
  margin-bottom: 0;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}
