<div id="Div5" class="row">
        &nbsp;
    </div>
    <footer id="footer" style="padding:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 column-1">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <div class="menu-footer-column-1-container">
                            <ul id="menu-footer-column-1" class="menu">
                                <li id="menu-item-828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828">
                                    <a href="https://www.revenued.com/about/">About Revenued</a>
                                </li>
                                <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                    <a href="https://www.revenued.com/terms/">Terms of Service</a>
                                </li>
                                <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                    <a href="https://www.revenued.com/privacy/">Privacy Policy</a>
                                </li>
                                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                    <a href="https://www.revenued.com/faq/">FAQs</a>
                                </li>
                                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                                    <a href="https://www.revenued.com/contact/">Contact Us</a>
                                </li>
                                <li id="menu-item-1060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1060">
                                    <a href="https://www.revenued.com/site-map/">Site Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column-2">
                    <div id="nav_menu-3" class="widget widget_nav_menu">
                        <div class="menu-footer-column-2-container">
                            <ul id="menu-footer-column-2" class="menu">
                                <li id="menu-item-834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-834">
                                    <a href="ManageAccount.html">Transaction History</a>
                                </li>
                                <li id="menu-item-830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-830">
                                    <a href="ManageAccount.html">Request Cash Draw</a>
                                </li>
                                <li id="menu-item-829" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-829">
                                    <a href="ManageAccount.html">Rewards</a>
                                </li>
                                <li id="menu-item-832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-832">
                                    <a href="ManageAccount.html">Dispute Charge</a>
                                </li>
                                <li id="menu-item-831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-831">
                                    <a href="#">Setup Pre-pay</a>
                                </li>
                                <li id="menu-item-833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="#">Payment Calendar</a>
                                </li>
                                <li id="Li1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="ManageAccount.html">Update Bank Statements</a>
                                </li>
                                <li id="Li2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="ManageAccount.html">Document Uploads</a>
                                </li>
                                <li id="Li3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="ManageAccount.html">New Card Activation</a>
                                </li>
                                <li id="Li4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="ManageAccount.html">Lost/Stolen Card</a>
                                </li>
                                <li id="Li5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833">
                                    <a href="ManageAccount.html">Change Pin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right column-3">
                    <div id="custom_html-2" class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <p class="text-right">Revenued’s financial content
                                <br> and tools for small business help you
                                <br>organize your finances.</p>
                            <div class="footer-social-icons">
                                <a href="https://www.facebook.com/revenued" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="screen-reader-text">Facebook</span>
                                </a>
                                <a href="https://twitter.com/revenued_com" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-twitter"></i>
                                    <span class="screen-reader-text">Twitter</span>
                                </a>
                                <a href="https://www.linkedin.com/company/revenued/" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-linkedin-in"></i>
                                    <span class="screen-reader-text">LinkedIn</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 copyright" style="margin-top:0px;"> &copy;2020 Revenued | All Rights Reserved</div>
            </div>
        </div>
    </footer>