<!--<H1>ACCOUNT SUMMARY OF 'XXX1234'</H1>
<div style="display: flex">
    <div>
        <div>SPENDING LIMIT</div>
        <H5>$30000</H5>
    </div>
    <div>
        <div>DISCOUNTER BALANCE</div>
        <H5>$10000</H5>
    </div>
    <div>
        <div>PENDING ACCOUNTS</div>
        <H5>$500</H5>
    </div>
    <div>
        <div>SPENDING AVAILABILITY</div>
        <H5>$19000</H5>
    </div>
    <div>
        <div>DAILY SPEND LIMIT</div>
        <H5>$10000</H5>
    </div>
</div>-->
<section id="ac_summary">
    <div class="container card card1 p-4">
            <div class="row no-gutters">
                <div class="col-md-12" id="summaryheading">
                    <h5>ACCOUNT SUMMARY OF 'XXX1234'</h5>
                </div>
            </div>
            <div class="row    pt-3 summary-l no-gutters  ">
               
                    <div class="text-center  col-xs-6 w-sm-50 pr-2 pb-2 ">
                        <div class="card  border-0  ">
                            <div class="spending-l-imit">SPENDING LIMIT</div>
                            <H5 style="color:#3FC0EF">$30000</H5>
                        </div>
                        
                    </div>
                    <div class="symbol col align-self-center text-center">-</div>
                    <div class="text-center  col-xs-6 w-sm-50 " >
                        <div class="card border-0">
                            <div class="spending-l-imit">DISCOUNTER BALANCE</div>
                            <H5 style="color:#CFAC1F">$10000</H5>
                        </div>
                        
                    </div>
                    <div class="symbol col align-self-center text-center">-</div>
                    <div class="text-center   col-xs-6 w-sm-50 pr-2 pb-2 ">
                        <div class="card border-0">
                            <div class="spending-l-imit">PENDING ACCOUNTS</div>
                            <H5 style="color:#542D87">$500</H5>
                        </div>
                        
                    </div>
                    <div class="symbol col align-self-center text-center">=</div>
                    <div class="text-center  col-xs-6 w-sm-50 ">
                        <div class="card border-0">
                            <div class="spending-l-imit">SPENDING AVAILABILITY</div>
                            <H5 style="color:#D56926">$19500</H5>
                        </div>
                       
                    </div>
                    <div class="symbol col align-self-center text-center"></div>
                    <div  class="text-center lead  verticalLine  col-xs-6 w-sm-50 pr-2"> 
                        <div class="card border-0">
                            <div class="spending-l-imit">DAILY SPEND LIMIT</div>
                            <H5 style="color:#E5298A">$10000</H5>
                        </div>
                      
                    </div>
               
                
            </div>
        
    </div>
</section>

